{% extends 'base.html' %}
{% block tittle %}Docters{% endblock %}
{% block content %}
<h1 class="text-center">Docters Details</h1>
<hr>
<div class="container text-center">
    {% for d in doct %}
    <div class="card text-center" style="width: 18rem; display: inline-block;">
        <img src="{{d.doc_img.url}}" class="card-img-top" alt="..">
        <div class="card-body">
          <h5 class="card-title">Dr. {{d.doc_name}}</h5>
          <p class="card-text">{{d.doc_spec}}</p>
          <h6>{{d.doc_dept}} Department</h6>
        </div>
      </div>
    {% endfor %} 
</div>
{% endblock %}